body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
	#task-list {
	width: 750px;
}
.task {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #000;
	padding: 16px;
	&:first-of-type {
		border-radius: 4px 4px 0 0;
	}
	&:last-of-type {
		border-radius: 0 0 4px 4px;
	}
	&:not(:last-of-type) {
		border-bottom: 0;
	}
	.teamweek {
		width: 200px;
	}
	.teamweek-task-title, .teamweek-project {
		margin: 0 16px 0 0;
	}
	.teamweek-checkboxes {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		flex: 1;
		.todo {
			flex: 100%;
		}
		.done {
			text-decoration:strikethrough;
		}
	}
	.toggl {
		cursor: pointer;
	}
}
.fa-play-circle {
	color: #007920;
}
.fa-pause-circle {
	color: #df1a21;
}