$font-main: 'Roboto', sans-serif;
$font-cond: 'Roboto Condensed', sans-serif;
$font-mono: 'Roboto Mono', monospace;

$color-blue: #0f4c85;
$color-blue-light: #2D82D1;

@mixin flex($h-align:center, $v-align:center, $wrap:wrap) {
	display: flex;
	justify-content: $h-align;
	align-items: $v-align;
	flex-flow:$wrap;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: $font-main;
	font-size: 16px;
	line-height: 1;
	background: url('img/funky-lines.png') repeat;
}
	#task-list {
	width: 50%;
	background: #F5F5F5;
	box-shadow: .25em .25em 1em rgba(0,0,0,.5);
	//border-radius: 1em 0 1em 0;
	padding: 0;
	position: relative;
	@media screen and (max-width:768px) {
		width: 100%;
	}
}
.task {

	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: .25em solid $color-blue;
	border-bottom: .25em solid $color-blue;
	border-left: .25em solid transparent;
	padding: 1em 0 1em 1em;
	&:first-of-type {
		//border-radius: 1em 0 0 0;
		border-top: none;
	}
	&:last-of-type {
		//border-radius: 0 0 1em 0;
		border-bottom: none;
	}
	&:not(:last-of-type) {
		border-bottom: 0;
	}
	.teamweek {
		flex: 1 0 200px;
		@include flex(flex-start, space-between);
	}
	.teamweek-task-title, .teamweek-project {
		margin: 0 1em 0 0;
	}
	.teamweek-task-title {
		font-family:$font-cond;

	}
	.teamweek-project {
		font-family: $font-cond;
		font-weight: 300;
		margin: .20em 0 0 0
	}
	.teamweek-checkboxes {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		flex: 2 1 400px;
		.todo {
			flex: 100%;
			font-family: $font-mono;
			font-size: 14px;
			padding: .25em 0;
		}
		.done {
			text-decoration:strikethrough;
		}
	}
	.toggl {
		cursor: pointer; 
		background: $color-blue;
		color: #fff;
		flex: 0 0 auto;
		cursor: pointer;
		text-align: center;
		padding: .5em;
		margin: 0 0 0 .5em;
		transition: .1s;
		border-radius: 1em 0px 0px 1em;
		&:hover, &.fa-pause-circle {
			box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
		}
		&.fa-pause-circle {
			background: $color-blue-light;
		}
	}
}
.fa-play-circle {
	//color: #007920;
}
.fa-pause-circle {
	//color: #df1a21;
}
#time {
	position: absolute;
	top: -2.5em;
	width: 100%;
	text-align: center;
	font-family: $font-main;
	font-weight: 100;
	text-shadow: 1px 2px 3px rgba(0,0,0,.25);
	font-size: 3em;
}

// Floating Checkbox CSS ----------------------------------



.wrap-collabsible {
  margin-bottom: 1.2rem 0;
	width:20%;
	position: fixed;
	bottom: 0;
	right: 40%;
	z-index: 42;
}

input[type='checkbox']#collapsible {
  display: none;
}

.lbl-toggle {
  display: block;

  font-family: $font-cond;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;

  padding: 8px;

  color: #fff;
  background:$color-blue;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  background: $color-blue-light;
}



.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: $color-blue;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  padding: .5rem 1rem;
	color: #fff;
}
.content-inner form {
	@include flex;
}
.content-inner input, button {
	border-radius: 0;
	border: 0;
}
.content-inner input {
	padding: 4px;
	height: 24px;
}
.content-inner button {
	background: #000;
	color: #fff;
	display: block;
	padding: 4px;
	padding: 8px 16px;
}

#api-keys div {
	flex: 100%;
	margin: 8px 0;
}
#api-keys .buttons {
	@include flex(space-evenly);
}