$font-main: 'Roboto', sans-serif;
$font-cond: 'Roboto Condensed', sans-serif;
$font-mono: 'Roboto Mono', monospace;

@mixin flex($h-align:center, $v-align:center, $wrap:wrap) {
	display: flex;
	justify-content: $h-align;
	align-items: $v-align;
	flex-flow:$wrap;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: $font-main;
	font-size: 16px;
}
	#task-list {
	width: 50%;
	@media screen and (max-width:768px) {
		width: 100%;
	}
}
.task {

	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #000;
	padding: 1em 0 1em 1em;
	&:first-of-type {
		border-radius: 4px 4px 0 0;
	}
	&:last-of-type {
		border-radius: 0 0 4px 4px;
	}
	&:not(:last-of-type) {
		border-bottom: 0;
	}
	.teamweek {
		flex: 1 0 200px;;
	}
	.teamweek-task-title {
		font-family:$font-cond;
	}
	.teamweek-task-title, .teamweek-project {
		margin: 0 16px 0 0;
	}
	.teamweek-checkboxes {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		flex: 1;
		.todo {
			flex: 100%;
			font-family: $font-mono;
			font-size: 14px;
		}
		.done {
			text-decoration:strikethrough;
		}
	}
	.toggl {
		cursor: pointer;
	}
}
.fa-play-circle {
	color: #007920;
}
.fa-pause-circle {
	color: #df1a21;
}